body {
    align-items: center;
    margin: 0;
    padding: 0;
}
.wrapper {
    position: relative;
width: 350px;
height: 350px;
border: 3px solid red;
}
.redbox {
    position: absolute;
width: 50px;
height: 50px;
background-color: rgb(9, 13, 255);
}